@font-face {
  font-family: IRYekan;
  src: url("../images/IRYekan.ttf");
}
@font-face {
  font-family: IRMitra;
  src: url("../images/IRMitra.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: IRYekan;
}
.tr {
  background-color: red;
}
.tb {
  background-color: blue;
}
.w100 {
  width: 100%;
}
.d-f {
  display: flex;
}
.f-c {
  flex-direction: column;
}
.jcc {
  justify-content: center;
}
.jce {
  justify-content: end;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.aie {
  align-items: flex-end;
}
.ais {
  align-items: stretch;
}
.header {
  color: white;
  width: 90%;
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}
nav > ul {
  margin-right: 2rem;
  cursor: pointer;
}
.body {
  --padding-top: 5rem;
  position: relative;
  height: 100vh;
  overflow: hidden;
  flex-grow: 2;
  align-items: flex-end;
  justify-content: center;
}
.logo-text {
  width: 25rem;
}
.textual {
  z-index: 800;
}
.t1 {
  color: #8c9ccf;
  font-size: 3rem;
  font-weight: 800;
  line-height: 0rem;
}
.t2 {
  color: #ae4b76;
  font-weight: bold;
}
.t3 {
  color: white;
  font-family: IRMitra;
  font-weight: 700;
  line-height: 0;
}
.hvr:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s;
}
.start-button {
  background-color: #40c1e4;
  color: white;
  font-family: IRYekan;
  font-size: 0.5rem;
  font-weight: 600;
  border-radius: 0.7rem;
  padding: 0.2rem 1rem;
  border-color: transparent;
}
.grad-bg {
  position: absolute;
  right: 30vw;
  top: 0;
  width: 55rem;
  height: 100vh;
  z-index: 150;
  /* display: none; */
}
.person-overlay {
  position: absolute;
  background-color: rgba(55, 52, 53, 0.6);
  width: 100vw;
  z-index: 125;
  height: 100vh;
}
.person-bg {
  z-index: 100;
  /* display: none; */
  position: absolute;
  right: 0;
  top: 0;
  /* transform: scaleY(1.15) translateY(2rem); */
  /* width: vw; */
  height: 100vh;
}
.content {
  z-index: 1000;
  width: 100%;
  height: 100vh;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}
.textual {
  direction: ltr;
  color: white;
  margin-left: 5rem;
  margin-bottom: 30vh;
}
.form {
  max-width: 15rem;
  padding: 2rem;
  padding-top: 0;
  align-self: flex-start;
  margin-right: 8rem;
  margin-top: 40vh;
  color: white;
  font-size: 0.5rem;
  /* background: rgb(236, 88, 138, 0.5); */
  background: linear-gradient(
    -43deg,
    rgba(236, 88, 138, 0.9) 0%,
    rgba(37, 49, 101, 0.9) 100%
  );
  transform: scale(1.2);
}
.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 1.4rem;
  padding-bottom: 0.7rem;
}
.login-text {
  margin: 0.4rem;
  font-size: 0.8rem;
}
.user-image {
  width: 8rem;
  margin: 0.7rem 0;
}
.input-image {
  width: 1rem;
  height: 0.95rem;
  border: 1px solid white;
  border-radius: 0.2rem;
  border-right-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.2rem;
  position: absolute;
  transform: translateX(0rem);
}
.input {
  padding-left: 0.5rem;
  border: 1px solid white;
  border-radius: 0.2rem;
  border-left-color: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 7rem;
  height: 1.24rem;
  margin: 0 1rem;
  margin-bottom: 0.3rem;
  transform: translateX(0.5rem);
}
.submit-button {
  background-color: #ec588a;
  color: white;
  margin-top: 0.8rem;
  margin-bottom: 0.7rem;
  font-family: Iryekan;
  font-size: 0.7rem;
  line-height: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.2rem;
}
.submit-button:active {
  transform: scale(0.97);
}
.create-account-button {
  background-color: transparent;
  border: 1px solid #8c9ccf;
  border-radius: 0.4rem;
  color: white;
  font-size: 0.4rem;
}

@media screen and (max-width: 40rem) {
  .header {
    padding: 0.2rem;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
  }
  .header > nav {
    display: none;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .form {
    margin: 0;
    margin-top: 10rem;
  }
  .textual {
    display: none;
  }
}
